<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Password Manager</h1>

    <h2>Your Passwords</h2>
    <ul>
        {% for password in passwords %}
            <li>{{ password.username }} - {{ password.platform }} <a href="{{ url_for('delete_password', password_id=password.id) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Generate Password</h2>
    <!-- Agrega esto a tu formulario o enlace -->
    <form action="/generate_password" method="get">
        <input type="submit" value="Generar Contraseña">
    </form>

    <h2>All passwords</h2>
    <form action="/loginpasswords" method="get">
        <input type="submit" value="All Passwords">
    </form>

    <h2>Save New Password</h2>
    <form action="{{ url_for('save_password') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>

        <label for="platform">Platform:</label>
        <input type="text" name="platform" required><br>

        <label for="password">Password:</label>
        <input type="text" name="password" required><br>

        <input type="submit" value="Save Password">
    </form>
</body>
</html>
